@mixin small-button-size() {
    .new-toolbox {
        .toolbox-content {
            .button-group-center, .button-group-left, .button-group-right {
                .toolbox-button {
                    .toolbox-icon {
                        width: 28px;
                        height: 28px;
                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    &:nth-child(2) {
                        .toolbox-icon {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}

@mixin very-small-button-size() {
    .new-toolbox {
        .toolbox-content {
            .button-group-center, .button-group-left, .button-group-right {
                .settings-button-small-icon {
                    display: none;
                }
                .toolbox-button {
                    .toolbox-icon {
                        width: 18px;
                        height: 18px;
                        svg {
                            width: 12px;
                            height: 12px;
                        }
                    }

                    &:nth-child(2) {
                        .toolbox-icon {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

@mixin full-size-modal-positioner() {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
}

@mixin full-size-modal-dialog() {
    height: 100%;
    max-height: 100%;
    border-radius: 0;
}

@media only screen and (max-width: 700px) {
    .welcome {
        display: block;

        #enter_room {
            position: relative;
            height: 42px;

            .welcome-page-button {
            font-size: 16px;
            left: 0;
            position: absolute;
            top: 68px;
            text-align: center;
            width: 100%;
            }
        }

        .header {
            background-color: #ffffff;

            #enter_room {
                .enter-room-input-container {
                    padding-right: 0;
                }

                .warning-without-link,
                .warning-with-link {
                    top: 120px;
                }
            }
        }

        .welcome-watermark .watermark.leftwatermark {
            width: 125px;
            top: 25px;
            left: 15px;
        }

        .welcome-page-settings {
            top: 54px;
            right: 15px;
        }

        .welcome-tabs {
            display: none;
        }

        .header-text-title {
            text-align: center;
        }

        .welcome-cards-container {
            padding-top: 25px;
        }

        .welcome-card-row {
            flex-direction: column;
            padding: 0 15px;

            .welcome-card-row-text {
                width: 100%;

                .welcome-card-row-text-main {
                    width: 100%;
                    font-size: 44px;
                    line-height: 50px;
                }

                .welcome-card-row-text-sub {
                    margin-top: 38px;
                    width: 100%;
                    font-size: 14px;
                }
            }

            .welcome-card-row-img {
                margin-top: 40px;
                width: 100%;

                img {
                    margin-left: 0;
                    width: 100%;
                }
            }

        }

        .welcome-start-button {
            flex-direction: column;
            padding: 25px 15px 0 30px;
            height: 200px;
        }

        &.without-content {
            .header {
            height: 95px;
            }
        }

        #moderated-meetings {
            display: none;
        }

        .welcome-footer-row-block {
            display: block;
        }
        .welcome-badge {
            margin-right: 16px;
        }

        .welcome-footer {
            display: none;
        }
    }
}


.desktop-browser {
    @media only screen and (max-width: $smallScreen) {
        @include small-button-size();
    }

    @media only screen and (max-width: $verySmallScreen) {
        @include very-small-button-size();
    }

    &.shift-right {
        @media only screen and (max-width: $smallScreen + $sidebarWidth) {
            @include small-button-size()
        }

        @media only screen and (max-width: $verySmallScreen + $sidebarWidth) {
            @include very-small-button-size();

            #videoResolutionLabel {
                display: none;
            }
            .vertical-filmstrip .filmstrip {
                display: none;
            }
            .chrome-extension-banner {
                display: none;
            }
        }
    }
}

@media (min-width: 480px) and (max-width: 580px) {
    .shift-right .focus-lock > div > div {
        @include full-size-modal-positioner();
    }

    .shift-right .focus-lock [role="dialog"] {
        @include full-size-modal-dialog();
    }
}

@media (min-width: 580px) and (max-width: 680px) {
    .mobile-browser {
        &.shift-right .focus-lock > div > div {
            @include full-size-modal-positioner();
        }

        &.shift-right .focus-lock [role="dialog"] {
            @include full-size-modal-dialog();
        }
    }
}
