@mixin small-button-size() {
    .new-toolbox {
        .toolbox-content {
            .button-group-center, .button-group-left, .button-group-right {
                .toolbox-button {
                    .toolbox-icon {
                        width: 28px;
                        height: 28px;
                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    &:nth-child(2) {
                        .toolbox-icon {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}

@mixin very-small-button-size() {
    .new-toolbox {
        .toolbox-content {
            .button-group-center, .button-group-left, .button-group-right {
                .settings-button-small-icon {
                    display: none;
                }
                .toolbox-button {
                    .toolbox-icon {
                        width: 18px;
                        height: 18px;
                        svg {
                            width: 12px;
                            height: 12px;
                        }
                    }

                    &:nth-child(2) {
                        .toolbox-icon {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

@mixin full-size-modal-positioner() {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    max-width: 100%;
    width: 100%;
}

@mixin full-size-modal-dialog() {
    height: 100%;
    max-height: 100%;
    border-radius: 0;
}

@media only screen and (max-width: 1013px) {
    .welcome {
        display: block;

        #enter_room {
            position: relative;
            height: 42px;

            .welcome-page-button {
            font-size: 16px;
            left: 0;
            position: absolute;
            top: 68px;
            text-align: center;
            width: 100%;
            }
        }

        .header {
            background-color: #ffffff;

            #enter_room {
                .enter-room-input-container {
                    padding-right: 0;
                }

                .warning-without-link,
                .warning-with-link {
                    top: 120px;
                }
            }
        }

        .welcome-watermark .watermark.leftwatermark {
            width: 125px;
            top: 25px;
            left: 45px;
        }

        .welcome-page-settings {
            top: 54px;
            right: 45px;
        }

        .welcome-tabs {
            display: none;
        }

        .header-text-title {
            text-align: center;
        }

        .welcome-cards-container {
            height: auto;
            padding-top: 25px;
            margin-top: 10px;
        }

        .welcome-card-row {
            height: auto;
            flex-direction: column;
            padding: 0 45px;

            .welcome-card-row-text {
                width: 100%;

                .welcome-card-row-text-main {
                    width: 80%;
                    margin-left: 10%;
                    font-size: 50px;
                    line-height: 56px;
                }

                .welcome-card-row-text-sub {
                    width: 80%;
                    margin-left: 10%;
                    margin-top: 30px;
                    font-size: 15px;
                }
            }

            .welcome-card-row-img {
                margin-top: 40px;
                width: 100%;

                img {
                    margin-left: 0;
                    height: auto;
                    width: 75%;
                    padding-left: 10%;
                }
            }

        }

        .welcome-start-button {
            margin-top: 10px;
            flex-direction: column;
            padding-left: 15%;
            height: 200px;
        }

        &.without-content {
            .header {
            height: 95px;
            }
        }

        #moderated-meetings {
            display: none;
        }

        .welcome-footer-row-block {
            display: block;
        }
        .welcome-badge {
            margin-right: 16px;
        }

        .welcome-footer {
            display: none;
        }
    }
}

@media only screen and (max-width: 450px) {
    .welcome {
        .welcome-watermark .watermark.leftwatermark {
            width: 125px;
            top: 25px;
            left: 30px;
        }

        .welcome-page-settings {
            top: 48px;
            right: 30px;
        }

        .welcome-card-row {
            padding: 0 10px;
            .welcome-card-row-text {

                .welcome-card-row-text-main {
                    font-size: 48px;
                    line-height: 50px;
                }

                .welcome-card-row-text-sub {
                    margin-top: 10px;;
                }
            }
            .welcome-card-row-img {

                img {

                }
            }
        }
        .welcome-start-button {
            padding-left: 10%;
            padding-right: 24px;
        }
    }
}

@media only screen and (max-width: 580px) {
    .welcome {
        .welcome-card-row {

            .welcome-card-row-text {

                .welcome-card-row-text-main {
                    width: 90%;
                    margin-left: 5%;
                }

                .welcome-card-row-text-sub {
                    width: 90%;
                    margin-left: 5%;
                }
            }
            .welcome-card-row-img {

                img {

                }
            }
        }
    }
}

@media (min-width: 1390px) and (max-width: 1720px) {
    .welcome {

        .welcome-card-row {
            .welcome-card-row-text {
                .welcome-card-row-text-main {
                    font-size: 68px;
                    line-height: 68px;
                }

                .welcome-card-row-text-sub {
                    margin-top: 7px;
                    font-size: 16px;
                }
            }

            .welcome-card-row-img {

                img {
                    height: 90%;
                    padding-left: 10%;
                }
            }

        }
    }
}

@media (min-width: 1190px) and (max-width: 1389px) {
    .welcome {

        #enter_room {

            .welcome-page-button {

            }
        }


        .welcome-watermark .watermark.leftwatermark {
            top: 35px;
            left: 60px;
        }

        .welcome-page-settings {
            right: 60px;
        }

        .welcome-tabs {

        }

        .header-text-title {

        }

        .welcome-cards-container {

        }

        .welcome-card-row {
            padding: 0 60px;

            .welcome-card-row-text {


                .welcome-card-row-text-main {
                    width: 85%;
                    font-size: 59px;
                    line-height: 60px;
                }

                .welcome-card-row-text-sub {
                    margin-top: 7px;
                    font-size: 16px;
                }
            }

            .welcome-card-row-img {

                img {
                    height: 84%;
                    padding-left: 10%;
                }
            }

        }
        .welcome-start-button {
            margin-top: -210px;
            padding: 25px 62px 0 58px;
        }

    }
}

@media (min-width: 1014px) and (max-width: 1189px) {
    .welcome {

        #enter_room {

            .welcome-page-button {

            }
        }


        .welcome-watermark .watermark.leftwatermark {
            top: 35px;
            left: 60px;
        }

        .welcome-page-settings {
            top: 57px;
            right: 60px;
        }

        .welcome-tabs {

        }

        .header-text-title {

        }

        .welcome-cards-container {
            padding-top: 0;
        }

        .welcome-card-row {
            padding: 0 60px;

            .welcome-card-row-text {


                .welcome-card-row-text-main {
                    width: 85%;
                    font-size: 50px;
                    line-height: 50px;
                }

                .welcome-card-row-text-sub {
                    margin-top: 7px;
                    font-size: 16px;
                }
            }

            .welcome-card-row-img {

                img {
                    height: 75%;
                    padding-left: 7%;
                }
            }

        }
        .welcome-start-button {
            margin-top: -210px;
            padding: 25px 62px 0 58px;
        }

    }
}

.desktop-browser {
    @media only screen and (max-width: $smallScreen) {
        @include small-button-size();
    }

    @media only screen and (max-width: $verySmallScreen) {
        @include very-small-button-size();
    }

    &.shift-right {
        @media only screen and (max-width: $smallScreen + $sidebarWidth) {
            @include small-button-size()
        }

        @media only screen and (max-width: $verySmallScreen + $sidebarWidth) {
            @include very-small-button-size();

            #videoResolutionLabel {
                display: none;
            }
            .vertical-filmstrip .filmstrip {
                display: none;
            }
            .chrome-extension-banner {
                display: none;
            }
        }
    }
}

@media (min-width: 480px) and (max-width: 580px) {
    .shift-right .focus-lock > div > div {
        @include full-size-modal-positioner();
    }

    .shift-right .focus-lock [role="dialog"] {
        @include full-size-modal-dialog();
    }
}

@media (min-width: 580px) and (max-width: 680px) {
    .mobile-browser {
        &.shift-right .focus-lock > div > div {
            @include full-size-modal-positioner();
        }

        &.shift-right .focus-lock [role="dialog"] {
            @include full-size-modal-dialog();
        }
    }
}
